#teams
{
    .header-logo {
        height: 53px;
        width: auto;
        max-width: 100%;
        margin: 0 8px;
    }
    
    .user-avatar {
        height: 53px;
        width: auto;
        margin: 0 8px;
    }
}