#main-menu
{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    .nav-extended{ background-color: $primary-colour; }
    
    .nav-wrapper {
        height: 64px;
        overflow: hidden;
        min-height: 0px;
        // transition: height 0.2s ease;
    }

    .tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        .tab {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
        }
    }
    .brand-logo {
        line-height: 64px !important;
        display: block;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        img {
            left: -71px;
            position: absolute;
            height: 56px;
            margin: 4px 0;
        }
    }


    &.main-menu-fixed {
        width: 100%;
        position: fixed;
        z-index: 997;
        top: 0;
        
        .nav-wrapper {
            // display: none;
            height: 0;
        }
    }
}
header {
    height: 112px;
}