#matches-list
{
    .collapsible-header {
        .row {
            margin: 0;
        }
    }
    .score_input {
        max-width: 64px;
    }
    .motm {
        padding: 32px 0 8px 0;
    }
    .player-image {
        height: auto;
        width: 48px;
    }
    .player-info .material-placeholder {
        display: inline;
    }
}