#pool-classification
{
    font-size: 1.4rem;

    .current-pool .card-title, .other-pool .card-title{ text-transform: uppercase; }
    #pool-button {
        float: right;
        margin-right: 8px;
    }
    .card-content {
        padding: 24px 8px;
    }
    .team-info {
        padding: 8px 0;
        text-align: left;

        div {
            display: inline-block;
            position: relative;
        }

        .image-container {
            width: 40px;
        }
    }
    .list-item {
        height: 40px;
        max-height: 40px;
    }
}