/*
    IMPORTS
*/
// Variables
@import "variables";
// Materialize  http://materializecss.com/
@import 'node_modules/materialize-css/sass/materialize';
// Material Design Icons    https://materialdesignicons.com/
@import 'node_modules/@mdi/font/scss/materialdesignicons.scss';
// Header
@import './components/main-menu.scss';

@import './components/sponsors.scss';


/*
    OTHER
*/
img {image-orientation: from-image;}


/*
    GRID
*/
.content section {
    margin-top: 30px;
    margin-bottom: 30px;
}
.row {
    width: 100%;
}
.s6 > span {
    word-wrap: break-word;
    @media only screen and (max-width: 600px) { display: contents !important; } /* we do this so images dont go through the sides */
    
}


/*
    HELPERS
*/
.break-word {
    word-break: break-all;
}
span.centre {
    display: block;
    text-align: center;
}
/* Use .equal-height to set the height of columns in a row to the same */
.equal-height {
    display: flex;
    flex-wrap: wrap;
}
// Use .vertical-centre to vertically centre a div.
.vertical-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
// Centres an in-line image vertically
img.vertical-centre-image {
    display: inline-block;
    vertical-align: middle;
}
.clickable {    // show hand when hovering over
    cursor: pointer;
}


/*
    ELEMENTS
*/
// Max width for avatar previews
img.avatar-preview {
    max-width: 256px;
    max-height: 256px;
}
// Sets a max height for an image.
img.px52 {
    height: 52px;
    width: auto;
    max-width: 100%;
    margin: 0 8px 0 0;
    @media only screen and (max-width: 600px) {
        width: 52px;
        height: auto;
        max-height: 100%;
    }
}
img.px40 {
    height: auto;
    width: 40px;
    margin: 0 8px 0 0;
}
// makes input look like it's disabled.
input.disabled {
    background-color: rgb(235, 235, 228) !important;
    color: rgb(84, 84, 84) !important;
}
.collection-item.row { position: relative; }
.close {
    position: absolute !important;
    top: 0;
    right: 0;
    color: $accent-colour;
    padding-top: 10px;
}
// Turns a list into a comma-seperated list on one line. (next to each other)
ul.comma-list {
    display: inline;
    li {
        float: left;
        
        &::after {
            content: ",\00a0";
        }
        &:last-child::after {
            content: '';
        }
    }
}

// margin-bottom on the input must be 0 so it connects with the search results
input.search-input { margin-bottom: 0 !important; }
ul.search-results {
    background: #FFF;
    position: absolute;
    width: 97%;
    z-index: 90;
    margin: 0;
    margin-bottom: 8px;
    border-radius: 0 0 15px 15px; // Border radius only on bottom corners
    li.search-result {
        border-radius: 0 0 15px 15px; // Border radius only on bottom corners
        
        &:hover { background-color: $accent-colour; color: $text-colour;}

        img {
            margin-right: 8px;
            display: inline;
            width: 42px;
            height: 42px;
        }
    }
}


/*
    TYPOGRAPHY
*/
// Replace font so that Roboto is main font
*{ font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important; }
/* Font sizes */
.font-size-1{ font-size: 4.2rem !important; }
.font-size-2{ font-size: 3.56rem !important; }
.font-size-3{ font-size: 2.92rem !important; }
.font-size-4{ font-size: 2.28rem !important; }
.font-size-5{ font-size: 1.64rem !important; }
.font-size-6{ font-size: 1.15rem !important; }

h1, h2, h3, h4, h5, h6, .card-title, .title {
    color: $primary-colour;
}
.title {
    font-size: 24px;
    font-weight: 300;
}
a{ color: #000; }

/*
    BUTTONS
*/
.btn, .btn:active, .btn-flat:active {
    // background-color: $accent-colour !important;
    background-color: $primary-colour !important;
    border-radius: 5px;
}
.btn-flat:active {
    color: #FFF;
}
.btn:hover, btn-flat:hover {
    background-color: $dark-colour !important;
}
